<div class="container">
  <div id="my-app">
    <h2 class="text-center">{{name}}</h2>
    <div class="form-group" style="width: 50%; margin:0 auto;">
      <input type="text" [(ngModel)]="searchText"
             class="form-control" placeholder="Search By Name"/>
      <table class="table table-hover table-striped table-sortable" style="border:1px solid #ccc; margin-top: 10px;">
        <thead>
        <tr>
          <th style="width: 20%">
            Name
          </th>
          <th style="width: 60%" (click)="changeSorting('joining_date')">
            Joining Date
          </th>
          <th style="width: 20%">
            Age
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of list | searchFilterPipe: searchText | orderBy : convertSorting()">
          <td>{{item.name}}</td>
          <td>{{item.joining_date | date:'dd/MM/yyyy'}}</td>
          <td>{{item.age }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
