<div id="my-app">
  <h2>{{name}}</h2>
  <div class="form-group" style="width: 50%">
      <input type="text" [(ngModel)]="searchText"
             class="form-control" placeholder="Search By Name" />
      <table class="table">
        <thead>
            <tr>
                <th style="width: 20%">
                    Name
                </th>
                <th style="width: 50%">
                    Joining Date
                </th>
                <th style="width: 10%">
                    Age
                </th>
            </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of list | searchFilterPipe: searchText">
        <td>{{item.name}}</td>
        <td>{{item.joining_date}}</td>
        <td>{{item.age }}</td>
        </tr>
        <tr *ngFor="let item of list  | searchFilterPipe: searchText">
        <td>{{item.name}}</td>
        <td>{{item.joining_date}}</td>
        <td>{{item.age | reverseFilterPipe}}</td>
        </tr>

        </tbody>

    </table>
  </div>
</div>
